@import "tailwindcss";
@import "flowbite/src/themes/default";
@source "../node_modules/flowbite";

* {
    box-sizing: border-box;
    cursor: pointer;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #a31621;
}
/* 
::placeholder {
    font-size: 0.75rem;
} */

.modal-container {
    background: rgba( 255, 255, 255, 0 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.btn-container {
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
}

.custom-checkbox {
    accent-color: #a31621;
}

.fade-enter-active, .fade-leave-active {
    transition: all 0.3s ease;
}

.fade-enter-from, .fade-leave-to {
    opacity: 0;
    transform: translate(-50%, -10px);
}

.currency-value::before {
    content: "₱";
    font-family: 'Rethink_Sans', sans-serif;
}

.order-container {
    border-radius: 8px;
    background: #ffffff;
    box-shadow:  5px 5px 4px #c1c1c1,
                -5px -5px 4px #ffffff;
}